/**
* Only for importing each other css file. 
*/
@import "main.css";
@import "components/header.css";
@import "components/card.css";
@import "components/button.css";
@import "components/footer.css";
@import "components/profile.css";
@import "components/form.css";
