body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  background: #201519;
}

main {
  gap: 20px;
  padding-top: 100px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
