.quizzCard {
  align-self: center;
  color: var(--card-text);
  position: relative;
  background: linear-gradient(
    to bottom right,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  border: 2px black solid;
  width: 500px;
  height: 300px;
}

.cardQuestion {
  align-self: center;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.cardAnswer {
  align-self: center;
  font-size: 25px;
  font-style: oblique;
}

.tags-container {
  flex-direction: row;
  justify-content: space-around;
}

.tag-box {
  color: var(--tags-color);
  border: 1px var(--tags-border) solid;
  background-color: var(--tags-background);
  box-shadow: 2px 2px var(--tags-shadow);
  text-align: center;
  padding-top: 5px;
  width: 100px;
  height: 30px;
}

.bookMark {
  position: absolute;
  right: -20px;
  top: -20px;
}
