.quizzCard {
  align-self: center;
  position: relative;
  background: linear-gradient(to bottom right, #5f8379, white);
  border: 2px black solid;
  width: 500px;
  height: 300px;
}

.cardQuestion {
  align-self: center;
  font-size: 30px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.cardAnswer {
  align-self: center;
  font-size: 25px;
  font-style: oblique;
}

.tagsBox {
  flex-direction: row;
  justify-content: space-around;
}

p {
  border: 1px darkslategrey solid;
  background-color: lightgray;
  box-shadow: 2px 2px grey;
  text-align: center;
  padding-top: 5px;
  width: 100px;
  height: 30px;
}

.bookMark {
  position: absolute;
  right: -20px;
  top: -20px;
}
