footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
  background: var(--footer-background);
  bottom: 0px;
  height: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

a > img {
  border-radius: 50%;
}

a > img:hover {
  box-shadow: 10px 10px 10px darkgreen;
}
