footer {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  max-width: 1000px;
  width: 100%;
  background: #13914c;
  bottom: 0px;
  height: 60px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
